<div class="row height">
  <div class="col-12 col-md-6 d-flex flex-column">
    <div class="d-flex justify-content-around">
    <div class="bgc flex-grow-1 text-center">
      <h5 class="pt-2">Influencers</h5>
      <h6>Active</h6>
      <p class="layout">{{influencers.length}}</p>
    </div>
    <div class="bgc ml-3 flex-grow-1 text-center">
      <h5 class="pt-2">Assignments</h5>
      <h6>Active</h6>
      <p class="layout">{{assignments.length}}</p>
    </div>
  </div>
    <app-posts-list class="flex-grow-1 pt-3"></app-posts-list>
  </div>
  <div class="col-12 pt-3 pt-md-0 col-md-6">
    <app-influencers-list></app-influencers-list>
  </div>
</div>

